@media screen and (max-width: 1500px) {
  .text-exp-small {
    font-size: 15px;
  }
}
@media screen and (max-width: 750px) {
  .demonstration {
    display: flex;
    align-items: center;
    flex-flow: column;
  }
  .text-exp {
    font-size: 35px;
    margin-left: 3%;
  }
  .text-exp-small {
    width: 80%;
    margin-left: 3%;
    /* display: none; */
  }
  #rangeValue {
    font-size: 3em;
    font-weight: 300;
  }
  .range {
    width: 90%;
  }
  .range-slider-container {
    margin-top: 0%;
  }
  footer {
    margin-top: 50%;
  }
}
